** start of styles.css **

html {
  font-size: 24px;
}

.newspaper {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.name {
  font-size: 2rem;
  font-family: 'Times New Roman', serif;
  text-transform: uppercase;
}

.date {
  margin-bottom: 10px;
}

.headline {
  font-size: 2em;
  font-weight: bold;
  margin: 10px 0;
}

.sub-headline {
  font-weight: 100;
  font-size: 1.5em;
  font-style: italic;
  margin-bottom: 15px;
}

.author {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}

.text {
  text-indent: 20px;
  line-height: 2em;
  margin-bottom: 15px;
}

.text::first-letter {
  font-weight: bold;
  font-size: 2em;
}

** end of styles.css **
