

body {
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.space {
  height: 200px;
  width: 200px;
  position: relative;
}

.earth {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: blue;
  border-radius: 50%;
}

.orbit {
  width: 200px;
  height: 200px;
  position: absolute;
  transform: translate(-50%, -50%);
  animation: orbit 5s linear infinite;
}

.moon {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: gray;
  border-radius: 50%;

}

@keyframes orbit {
  0% {
    transform: rotate(0deg) translate(-50%, -50%);
  }
  100% {
    transform: rotate(360deg) translate(-50%, -50%);
  }
}



