** start of styles.css **

.form-container {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 15px;
  width: 350px;
}

label {
  margin: 5px 0;
  color: #000;
}

input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

button {
  background-color: #4CAF50;
  font-size: 14px;
}

button:hover {
  background-color: #45a049;
}




** end of styles.css **

