body {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto 0 auto;
  width: 100vw;
  min-height: calc(100vh - 100px);
}
hr {
  width: 100%;
}
main {
  width: 100%;
}
section {
  width: 100%;
}

