** start of styles.css **

#email {
  padding: 50px;
  margin-top: 50px;
  width: 500px;
  border: 2px;
  box-sizing: border-box;
}

#confidential, #top-secret {
  display: inline-block;
  padding: 50px;
  border: 15px solid red;
  margin-left: 25px;
  transform: rotate(25.0deg);
}

.blurred {
  filter: blur(3px);
}

** end of styles.css **

